In [12]:
# Instalo las librerías que voy a utilizar

!pip install requests

!pip install openpyxl

Requirement already satisfied: requests in c:\users\gilga\appdata\local\programs\python\python311\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\gilga\appdata\local\programs\python\python311\lib\site-packages (from requests) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\gilga\appdata\local\programs\python\python311\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\gilga\appdata\local\programs\python\python311\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\gilga\appdata\local\programs\python\python311\lib\site-packages (from requests) (2023.5.7)

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting openpyxl
  Using cached openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
Collecting et-xmlfile
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [13]:
#Importo las librerías que voy a utilizar

import pandas as pd
import requests as rq
import os

In [14]:
# Creo las listas con el nombre de los documentos

lista_archivos = ["2000", "2001", "2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011",
                  "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020", "2021", "2022"]

In [177]:
# Creo la función que me permitira cargar los datos de las hojas CONSUMOXCAPITA

def carga_consumoxcapita(nombre_archivo):
    base_url = "https://raw.githubusercontent.com"
    usuario_git = "DMorgon"
    repositorio = "portafolios/main/alimentacion/datos_origen"
    ruta_archivo = f"{base_url}/{usuario_git}/{repositorio}/{nombre_archivo}.xlsx"
    response = rq.get(ruta_archivo)
    if int(nombre_archivo) <= 2019:
        df_consumoxcapita = pd.read_excel(response.content, sheet_name=4, header=2, engine="openpyxl")
        df_consumoxcapita["ANALISIS"] = "Consumo per capita"
    else:
        df_consumoxcapita = pd.read_excel(response.content, sheet_name=5, header=2, engine="openpyxl")
        df_consumoxcapita["ANALISIS"] = "Consumo per capita"
    return df_consumoxcapita

In [147]:
# Creo la función que me permitira cargar los datos de las hojas GASTOXCAPITA

def carga_gastoxcapita(nombre_archivo):
    base_url = "https://raw.githubusercontent.com"
    usuario_git = "DMorgon"
    repositorio = "portafolios/main/alimentacion/datos_origen"
    ruta_archivo = f"{base_url}/{usuario_git}/{repositorio}/{nombre_archivo}.xlsx"
    response = rq.get(ruta_archivo)
    if int(nombre_archivo) <= 2019:
        df_gastoxcapita = pd.read_excel(response.content, sheet_name=5, header=2, engine="openpyxl")
        df_gastoxcapita["ANALISIS"] = "Gasto per cápita"
    else:
        df_gastoxcapita = pd.read_excel(response.content, sheet_name=6, header=2, engine="openpyxl")
        df_gastoxcapita["ANALISIS"] = "Gasto per cápita"
    return df_gastoxcapita

In [148]:
# Creo la función que me permitira cargar los datos de las hojas PRECIO

def carga_precio(nombre_archivo):
    base_url = "https://raw.githubusercontent.com"
    usuario_git = "DMorgon"
    repositorio = "portafolios/main/alimentacion/datos_origen"
    ruta_archivo = f"{base_url}/{usuario_git}/{repositorio}/{nombre_archivo}.xlsx"
    response = rq.get(ruta_archivo)
    if int(nombre_archivo) <= 2019:
        df_precio = pd.read_excel(response.content, sheet_name=6, header=2, engine="openpyxl")
        df_precio["ANALISIS"] = "Precio"
    else:
        df_precio = pd.read_excel(response.content, sheet_name=4, header=2, engine="openpyxl")
        df_precio["ANALISIS"] = "Precio"
    return df_precio

In [178]:
# Cargo los datos correspondientes con las hojas consumoxcapita de cada archivo.

lista_df_consumoxcapita = []

for archivo in lista_archivos:
    df = carga_consumoxcapita(archivo)
    lista_df_consumoxcapita.append(df)

In [150]:
# Cargo los datos correspondientes con las hojas gastoxcapita de cada archivo.

lista_df_gastoxcapita = []

for archivo in lista_archivos:
    df = carga_gastoxcapita(archivo)
    lista_df_gastoxcapita.append(df)

In [151]:
# Uno los marcos de datos según el año y los incluyo en la lista_df

lista_df = []

for i in range(0, 23, 1):
    df = pd.concat([lista_df_consumoxcapita[i], lista_df_gastoxcapita[i]], ignore_index=True)
    lista_df.append(df)

## ANÁLISIS EXPLORATORIO DE LOS DATOS (EDA)

In [154]:
# Realizo EDA en cada marco de datos

for i, df in enumerate(lista_df):
    tabla_nombre = f"df_{2000 + i}"
    print("Nombre de la tabla de datos:", tabla_nombre)
    print(df.info())
    if df.isna().any().any():
        print("Hay valores NA en la tabla de datos" + "\n")
    else:
        print("No hay valores NA en la tabla de datos" + "\n")

Nombre de la tabla de datos: df_2000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668 entries, 0 to 667
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          668 non-null    object
 1   .TOTAL ESPAÑA       666 non-null    float64
 2   CATALUÑA            666 non-null    float64
 3   ARAGON              654 non-null    float64
 4   BALEARES            658 non-null    float64
 5   VALENCIA            664 non-null    float64
 6   MURCIA              660 non-null    float64
 7   ANDALUCIA           664 non-null    float64
 8   MADRID              664 non-null    float64
 9   CASTILLA-LA MANCHA  660 non-null    float64
 10  EXTREMADURA         654 non-null    float64
 11  CASTILLA Y LEON     664 non-null    float64
 12  GALICIA             664 non-null    float64
 13  ASTURIAS            662 non-null    float64
 14  CANTABRIA           660 non-null    float64
 15  PAIS VASCO          664 non-null    float64
 16  RIOJA               646 non-null    float64
 17  NAVARRA             656 non-null    float64
 18  CANARIAS            662 non-null    float64
 19  ANALISIS            668 non-null    object
dtypes: float64(18), object(2)
memory usage: 104.5+ KB
None
Hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2001
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668 entries, 0 to 667
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          668 non-null    object
 1   .TOTAL ESPAÑA       668 non-null    float64
 2   CATALUÑA            664 non-null    float64
 3   ARAGON              658 non-null    float64
 4   BALEARES            652 non-null    float64
 5   VALENCIA            664 non-null    float64
 6   MURCIA              662 non-null    float64
 7   ANDALUCIA           666 non-null    float64
 8   MADRID              664 non-null    float64
 9   CASTILLA-LA MANCHA  664 non-null    float64
 10  EXTREMADURA         660 non-null    float64
 11  CASTILLA Y LEON     662 non-null    float64
 12  GALICIA             664 non-null    float64
 13  ASTURIAS            662 non-null    float64
 14  CANTABRIA           648 non-null    float64
 15  PAIS VASCO          662 non-null    float64
 16  RIOJA               638 non-null    float64
 17  NAVARRA             656 non-null    float64
 18  CANARIAS            660 non-null    float64
 19  ANALISIS            668 non-null    object
dtypes: float64(18), object(2)
memory usage: 104.5+ KB
None
Hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2002
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 722 entries, 0 to 721
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          722 non-null    object
 1   .TOTAL ESPAÑA       664 non-null    float64
 2   CATALUÑA            660 non-null    float64
 3   ARAGON              658 non-null    float64
 4   BALEARES            648 non-null    float64
 5   VALENCIA            662 non-null    float64
 6   MURCIA              658 non-null    float64
 7   ANDALUCIA           660 non-null    float64
 8   MADRID              660 non-null    float64
 9   CASTILLA-LA MANCHA  658 non-null    float64
 10  EXTREMADURA         652 non-null    float64
 11  CASTILLA Y LEON     660 non-null    float64
 12  GALICIA             656 non-null    float64
 13  ASTURIAS            658 non-null    float64
 14  CANTABRIA           644 non-null    float64
 15  PAIS VASCO          658 non-null    float64
 16  RIOJA               640 non-null    float64
 17  NAVARRA             650 non-null    float64
 18  CANARIAS            658 non-null    float64
 19  ANALISIS            722 non-null    object
dtypes: float64(18), object(2)
memory usage: 112.9+ KB
None
Hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2003
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 722 entries, 0 to 721
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          722 non-null    object
 1   .TOTAL ESPAÑA       720 non-null    float64
 2   CATALUÑA            718 non-null    float64
 3   ARAGON              716 non-null    float64
 4   BALEARES            708 non-null    float64
 5   VALENCIA            712 non-null    float64
 6   MURCIA              714 non-null    float64
 7   ANDALUCIA           716 non-null    float64
 8   MADRID              718 non-null    float64
 9   CASTILLA-LA MANCHA  712 non-null    float64
 10  EXTREMADURA         706 non-null    float64
 11  CASTILLA Y LEON     716 non-null    float64
 12  GALICIA             714 non-null    float64
 13  ASTURIAS            712 non-null    float64
 14  CANTABRIA           696 non-null    float64
 15  PAIS VASCO          716 non-null    float64
 16  RIOJA               698 non-null    float64
 17  NAVARRA             708 non-null    float64
 18  CANARIAS            714 non-null    float64
 19  ANALISIS            722 non-null    object
dtypes: float64(18), object(2)
memory usage: 112.9+ KB
None
Hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2004
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 896 entries, 0 to 895
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          896 non-null    object
 1   T.ESPAÑA            896 non-null    float64
 2   CATALUÑA            896 non-null    float64
 3   ARAGON              896 non-null    float64
 4   BALEARES            896 non-null    float64
 5   VALENCIA            896 non-null    float64
 6   MURCIA              896 non-null    float64
 7   T.ANDALUCIA         896 non-null    float64
 8   MADRID              896 non-null    float64
 9   CASTILLA LA MANCHA  896 non-null    float64
 10  EXTREMADURA         896 non-null    float64
 11  CASTILLA LEON       896 non-null    float64
 12  GALICIA             896 non-null    float64
 13  ASTURIAS            896 non-null    float64
 14  CANTABRIA           896 non-null    float64
 15  PAIS VASCO          896 non-null    float64
 16  LA RIOJA            896 non-null    float64
 17  NAVARRA             896 non-null    float64
 18  CANARIAS            896 non-null    float64
 19  NORESTE             896 non-null    float64
 20  LEVANTE             896 non-null    float64
 21  ANDALUCIA           896 non-null    float64
 22  CENTRO-SUR          896 non-null    float64
 23  CASTILLA Y LEON     896 non-null    float64
 24  NOROESTE            896 non-null    float64
 25  NORTE               896 non-null    float64
 26  T.CANARIAS          896 non-null    float64
 27  ANALISIS            896 non-null    object
dtypes: float64(26), object(2)
memory usage: 196.1+ KB
None
No hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2005
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          930 non-null    object
 1   T.ESPAÑA            930 non-null    float64
 2   CATALUÑA            930 non-null    float64
 3   ARAGON              930 non-null    float64
 4   BALEARES            930 non-null    float64
 5   VALENCIA            930 non-null    float64
 6   MURCIA              930 non-null    float64
 7   T.ANDALUCIA         930 non-null    float64
 8   MADRID              930 non-null    float64
 9   CASTILLA LA MANCHA  930 non-null    float64
 10  EXTREMADURA         930 non-null    float64
 11  CASTILLA LEON       930 non-null    float64
 12  GALICIA             930 non-null    float64
 13  ASTURIAS            930 non-null    float64
 14  CANTABRIA           930 non-null    float64
 15  PAIS VASCO          930 non-null    float64
 16  LA RIOJA            930 non-null    float64
 17  NAVARRA             930 non-null    float64
 18  CANARIAS            930 non-null    float64
 19  NORESTE             930 non-null    float64
 20  LEVANTE             930 non-null    float64
 21  ANDALUCIA           930 non-null    float64
 22  CENTRO-SUR          930 non-null    float64
 23  CASTILLA Y LEON     930 non-null    float64
 24  NOROESTE            930 non-null    float64
 25  NORTE               930 non-null    float64
 26  T.CANARIAS          930 non-null    float64
 27  ANALISIS            930 non-null    object
dtypes: float64(26), object(2)
memory usage: 203.6+ KB
None
No hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2006
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          930 non-null    object
 1   T.ESPAÑA            930 non-null    float64
 2   CATALUÑA            930 non-null    float64
 3   ARAGON              930 non-null    float64
 4   BALEARES            930 non-null    float64
 5   VALENCIA            930 non-null    float64
 6   MURCIA              930 non-null    float64
 7   T.ANDALUCIA         930 non-null    float64
 8   MADRID              930 non-null    float64
 9   CASTILLA LA MANCHA  930 non-null    float64
 10  EXTREMADURA         930 non-null    float64
 11  CASTILLA LEON       930 non-null    float64
 12  GALICIA             930 non-null    float64
 13  ASTURIAS            930 non-null    float64
 14  CANTABRIA           930 non-null    float64
 15  PAIS VASCO          930 non-null    float64
 16  LA RIOJA            930 non-null    float64
 17  NAVARRA             930 non-null    float64
 18  CANARIAS            930 non-null    float64
 19  NORESTE             930 non-null    float64
 20  LEVANTE             930 non-null    float64
 21  ANDALUCIA           930 non-null    float64
 22  CENTRO-SUR          930 non-null    float64
 23  CASTILLA Y LEON     930 non-null    float64
 24  NOROESTE            930 non-null    float64
 25  NORTE               930 non-null    float64
 26  T.CANARIAS          930 non-null    float64
 27  ANALISIS            930 non-null    object
dtypes: float64(26), object(2)
memory usage: 203.6+ KB
None
No hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2007
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1104 entries, 0 to 1103
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1104 non-null   object
 1   T.ESPAÑA            1104 non-null   float64
 2   CATALUÑA            1104 non-null   float64
 3   ARAGON              1104 non-null   float64
 4   BALEARES            1104 non-null   float64
 5   VALENCIA            1104 non-null   float64
 6   MURCIA              1104 non-null   float64
 7   T.ANDALUCIA         1104 non-null   float64
 8   MADRID              1104 non-null   float64
 9   CASTILLA LA MANCHA  1104 non-null   float64
 10  EXTREMADURA         1104 non-null   float64
 11  CASTILLA LEON       1104 non-null   float64
 12  GALICIA             1104 non-null   float64
 13  ASTURIAS            1104 non-null   float64
 14  CANTABRIA           1104 non-null   float64
 15  PAIS VASCO          1104 non-null   float64
 16  LA RIOJA            1104 non-null   float64
 17  NAVARRA             1104 non-null   float64
 18  CANARIAS            1104 non-null   float64
 19  NORESTE             1104 non-null   float64
 20  LEVANTE             1104 non-null   float64
 21  ANDALUCIA           1104 non-null   float64
 22  CENTRO-SUR          1104 non-null   float64
 23  CASTILLA Y LEON     1104 non-null   float64
 24  NOROESTE            1104 non-null   float64
 25  NORTE               1104 non-null   float64
 26  T.CANARIAS          1104 non-null   float64
 27  ANALISIS            1104 non-null   object
dtypes: float64(26), object(2)
memory usage: 241.6+ KB
None
No hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2008
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1112 entries, 0 to 1111
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1112 non-null   object
 1   T.ESPAÑA            1112 non-null   float64
 2   CATALUÑA            1112 non-null   float64
 3   ARAGON              1112 non-null   float64
 4   BALEARES            1112 non-null   float64
 5   VALENCIA            1112 non-null   float64
 6   MURCIA              1112 non-null   float64
 7   T.ANDALUCIA         1112 non-null   float64
 8   MADRID              1112 non-null   float64
 9   CASTILLA LA MANCHA  1112 non-null   float64
 10  EXTREMADURA         1112 non-null   float64
 11  CASTILLA LEON       1112 non-null   float64
 12  GALICIA             1112 non-null   float64
 13  ASTURIAS            1112 non-null   float64
 14  CANTABRIA           1112 non-null   float64
 15  PAIS VASCO          1112 non-null   float64
 16  LA RIOJA            1112 non-null   float64
 17  NAVARRA             1112 non-null   float64
 18  CANARIAS            1112 non-null   float64
 19  NORESTE             1112 non-null   float64
 20  LEVANTE             1112 non-null   float64
 21  ANDALUCIA           1112 non-null   float64
 22  CENTRO-SUR          1112 non-null   float64
 23  CASTILLA Y LEON     1112 non-null   float64
 24  NOROESTE            1112 non-null   float64
 25  NORTE               1112 non-null   float64
 26  T.CANARIAS          1112 non-null   float64
 27  ANALISIS            1112 non-null   object
dtypes: float64(26), object(2)
memory usage: 243.4+ KB
None
No hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2009
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1112 entries, 0 to 1111
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1112 non-null   object
 1   T.ESPAÑA            1112 non-null   float64
 2   CATALUÑA            1112 non-null   float64
 3   ARAGON              1112 non-null   float64
 4   BALEARES            1112 non-null   float64
 5   VALENCIA            1112 non-null   float64
 6   MURCIA              1112 non-null   float64
 7   T.ANDALUCIA         1112 non-null   float64
 8   MADRID              1112 non-null   float64
 9   CASTILLA LA MANCHA  1112 non-null   float64
 10  EXTREMADURA         1112 non-null   float64
 11  CASTILLA LEON       1112 non-null   float64
 12  GALICIA             1112 non-null   float64
 13  ASTURIAS            1112 non-null   float64
 14  CANTABRIA           1112 non-null   float64
 15  PAIS VASCO          1112 non-null   float64
 16  LA RIOJA            1112 non-null   float64
 17  NAVARRA             1112 non-null   float64
 18  CANARIAS            1112 non-null   float64
 19  NORESTE             1112 non-null   float64
 20  LEVANTE             1112 non-null   float64
 21  ANDALUCIA           1112 non-null   float64
 22  CENTRO-SUR          1112 non-null   float64
 23  CASTILLA Y LEON     1112 non-null   float64
 24  NOROESTE            1112 non-null   float64
 25  NORTE               1112 non-null   float64
 26  T.CANARIAS          1112 non-null   float64
 27  ANALISIS            1112 non-null   object
dtypes: float64(26), object(2)
memory usage: 243.4+ KB
None
No hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2010
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1112 entries, 0 to 1111
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1112 non-null   object
 1   T.ESPAÑA            1112 non-null   float64
 2   CATALUÑA            1112 non-null   float64
 3   ARAGON              1112 non-null   float64
 4   BALEARES            1112 non-null   float64
 5   VALENCIA            1112 non-null   float64
 6   MURCIA              1112 non-null   float64
 7   T.ANDALUCIA         1112 non-null   float64
 8   MADRID              1112 non-null   float64
 9   CASTILLA LA MANCHA  1112 non-null   float64
 10  EXTREMADURA         1112 non-null   float64
 11  CASTILLA LEON       1112 non-null   float64
 12  GALICIA             1112 non-null   float64
 13  ASTURIAS            1112 non-null   float64
 14  CANTABRIA           1112 non-null   float64
 15  PAIS VASCO          1112 non-null   float64
 16  LA RIOJA            1112 non-null   float64
 17  NAVARRA             1112 non-null   float64
 18  CANARIAS            1112 non-null   float64
 19  NORESTE             1112 non-null   float64
 20  LEVANTE             1112 non-null   float64
 21  ANDALUCIA           1112 non-null   float64
 22  CENTRO-SUR          1112 non-null   float64
 23  CASTILLA Y LEON     1112 non-null   float64
 24  NOROESTE            1112 non-null   float64
 25  NORTE               1112 non-null   float64
 26  T.CANARIAS          1112 non-null   float64
 27  ANALISIS            1112 non-null   object
dtypes: float64(26), object(2)
memory usage: 243.4+ KB
None
No hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2011
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1112 entries, 0 to 1111
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1112 non-null   object
 1   T.ESPAÑA            1112 non-null   float64
 2   CATALUÑA            1112 non-null   float64
 3   ARAGON              1112 non-null   float64
 4   BALEARES            1112 non-null   float64
 5   VALENCIA            1112 non-null   float64
 6   MURCIA              1112 non-null   float64
 7   T.ANDALUCIA         1112 non-null   float64
 8   MADRID              1112 non-null   float64
 9   CASTILLA LA MANCHA  1112 non-null   float64
 10  EXTREMADURA         1112 non-null   float64
 11  CASTILLA LEON       1112 non-null   float64
 12  GALICIA             1112 non-null   float64
 13  ASTURIAS            1112 non-null   float64
 14  CANTABRIA           1112 non-null   float64
 15  PAIS VASCO          1112 non-null   float64
 16  LA RIOJA            1112 non-null   float64
 17  NAVARRA             1112 non-null   float64
 18  CANARIAS            1112 non-null   float64
 19  NORESTE             1112 non-null   float64
 20  LEVANTE             1112 non-null   float64
 21  ANDALUCIA           1112 non-null   float64
 22  CENTRO-SUR          1112 non-null   float64
 23  CASTILLA Y LEON     1112 non-null   float64
 24  NOROESTE            1112 non-null   float64
 25  NORTE               1112 non-null   float64
 26  T.CANARIAS          1112 non-null   float64
 27  ANALISIS            1112 non-null   object
dtypes: float64(26), object(2)
memory usage: 243.4+ KB
None
No hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2012
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1112 entries, 0 to 1111
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1112 non-null   object
 1   T.ESPAÑA            1112 non-null   float64
 2   CATALUÑA            1112 non-null   float64
 3   ARAGON              1112 non-null   float64
 4   BALEARES            1112 non-null   float64
 5   VALENCIA            1112 non-null   float64
 6   MURCIA              1112 non-null   float64
 7   T.ANDALUCIA         1112 non-null   float64
 8   MADRID              1112 non-null   float64
 9   CASTILLA LA MANCHA  1112 non-null   float64
 10  EXTREMADURA         1112 non-null   float64
 11  CASTILLA LEON       1112 non-null   float64
 12  GALICIA             1112 non-null   float64
 13  ASTURIAS            1112 non-null   float64
 14  CANTABRIA           1112 non-null   float64
 15  PAIS VASCO          1112 non-null   float64
 16  LA RIOJA            1112 non-null   float64

Revisando la información de cada marco de datos, encontramos las siguientes anomalías:

- En los marcos dedatos de los años 2000, 2001, 2002 y 2003 existen valores NA

- Los marcos de datos referentes a los años 2000, 2001, 2002, 2003, 2019, 2020, 2021 y 2022 tienen 20 columnas mientras que el resto de las tablas tienen 28. Hay variables que no son necesarias, para el análisis, con lo que pueden ser eliminadas.

- Existen marcos de datos con el nombre de las variables de ciertas comunidades autónomas diferentes.

- La variable de las categorías de los alimentos se denomina Unamed: 0.

In [155]:
# Elimino las variables correspondientes a los territorios que no voy a utilizar

columnas_eliminar_a = ["T.ESPAÑA", "T.ANDALUCIA", "NORESTE", "LEVANTE", "CENTRO-SUR", "CASTILLA LEON", "NOROESTE", "NORTE",
                       "T.CANARIAS"]

columnas_eliminar_b = ["T.ESPAÑA", "NORESTE", "LEVANTE", "ANDALUCÍA", "CENTRO-SUR", "CASTILLA Y LEÓN", "NOROESTE", "NORTE",
                       "T.CANARIAS"]


for i, df in enumerate(lista_df):
    if i in [0, 1, 2, 3]:
        df.drop(columns=".TOTAL ESPAÑA", errors="ignore", inplace=True)
    if i in [4, 5, 6, 7, 8, 9, 10, 11, 12]:
        df.drop(columns=columnas_eliminar_a, errors="ignore", inplace=True)
    if i in [13, 14, 15, 16, 17, 18]:
        df.drop(columns=columnas_eliminar_b, errors="ignore", inplace=True)  
    else:
        df.drop(columns="T.ESPAÑA", errors="ignore", inplace=True)

In [156]:
# Realizo EDA en cada marco de datos

for i, df in enumerate(lista_df):
    tabla_nombre = f"df_{2000 + i}"
    print("Nombre de la tabla de datos:", tabla_nombre)
    print(df.info())
    if df.isna().any().any():
        print("Hay valores NA en la tabla de datos" + "\n")
    else:
        print("No hay valores NA en la tabla de datos" + "\n")

Nombre de la tabla de datos: df_2000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668 entries, 0 to 667
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          668 non-null    object
 1   CATALUÑA            666 non-null    float64
 2   ARAGON              654 non-null    float64
 3   BALEARES            658 non-null    float64
 4   VALENCIA            664 non-null    float64
 5   MURCIA              660 non-null    float64
 6   ANDALUCIA           664 non-null    float64
 7   MADRID              664 non-null    float64
 8   CASTILLA-LA MANCHA  660 non-null    float64
 9   EXTREMADURA         654 non-null    float64
 10  CASTILLA Y LEON     664 non-null    float64
 11  GALICIA             664 non-null    float64
 12  ASTURIAS            662 non-null    float64
 13  CANTABRIA           660 non-null    float64
 14  PAIS VASCO          664 non-null    float64
 15  RIOJA               646 non-null    float64
 16  NAVARRA             656 non-null    float64
 17  CANARIAS            662 non-null    float64
 18  ANALISIS            668 non-null    object
dtypes: float64(17), object(2)
memory usage: 99.3+ KB
None
Hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2001
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668 entries, 0 to 667
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          668 non-null    object
 1   CATALUÑA            664 non-null    float64
 2   ARAGON              658 non-null    float64
 3   BALEARES            652 non-null    float64
 4   VALENCIA            664 non-null    float64
 5   MURCIA              662 non-null    float64
 6   ANDALUCIA           666 non-null    float64
 7   MADRID              664 non-null    float64
 8   CASTILLA-LA MANCHA  664 non-null    float64
 9   EXTREMADURA         660 non-null    float64
 10  CASTILLA Y LEON     662 non-null    float64
 11  GALICIA             664 non-null    float64
 12  ASTURIAS            662 non-null    float64
 13  CANTABRIA           648 non-null    float64
 14  PAIS VASCO          662 non-null    float64
 15  RIOJA               638 non-null    float64
 16  NAVARRA             656 non-null    float64
 17  CANARIAS            660 non-null    float64
 18  ANALISIS            668 non-null    object
dtypes: float64(17), object(2)
memory usage: 99.3+ KB
None
Hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2002
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 722 entries, 0 to 721
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          722 non-null    object
 1   CATALUÑA            660 non-null    float64
 2   ARAGON              658 non-null    float64
 3   BALEARES            648 non-null    float64
 4   VALENCIA            662 non-null    float64
 5   MURCIA              658 non-null    float64
 6   ANDALUCIA           660 non-null    float64
 7   MADRID              660 non-null    float64
 8   CASTILLA-LA MANCHA  658 non-null    float64
 9   EXTREMADURA         652 non-null    float64
 10  CASTILLA Y LEON     660 non-null    float64
 11  GALICIA             656 non-null    float64
 12  ASTURIAS            658 non-null    float64
 13  CANTABRIA           644 non-null    float64
 14  PAIS VASCO          658 non-null    float64
 15  RIOJA               640 non-null    float64
 16  NAVARRA             650 non-null    float64
 17  CANARIAS            658 non-null    float64
 18  ANALISIS            722 non-null    object
dtypes: float64(17), object(2)
memory usage: 107.3+ KB
None
Hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2003
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 722 entries, 0 to 721
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          722 non-null    object
 1   CATALUÑA            718 non-null    float64
 2   ARAGON              716 non-null    float64
 3   BALEARES            708 non-null    float64
 4   VALENCIA            712 non-null    float64
 5   MURCIA              714 non-null    float64
 6   ANDALUCIA           716 non-null    float64
 7   MADRID              718 non-null    float64
 8   CASTILLA-LA MANCHA  712 non-null    float64
 9   EXTREMADURA         706 non-null    float64
 10  CASTILLA Y LEON     716 non-null    float64
 11  GALICIA             714 non-null    float64
 12  ASTURIAS            712 non-null    float64
 13  CANTABRIA           696 non-null    float64
 14  PAIS VASCO          716 non-null    float64
 15  RIOJA               698 non-null    float64
 16  NAVARRA             708 non-null    float64
 17  CANARIAS            714 non-null    float64
 18  ANALISIS            722 non-null    object
dtypes: float64(17), object(2)
memory usage: 107.3+ KB
None
Hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2004
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 896 entries, 0 to 895
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          896 non-null    object
 1   CATALUÑA            896 non-null    float64
 2   ARAGON              896 non-null    float64
 3   BALEARES            896 non-null    float64
 4   VALENCIA            896 non-null    float64
 5   MURCIA              896 non-null    float64
 6   MADRID              896 non-null    float64
 7   CASTILLA LA MANCHA  896 non-null    float64
 8   EXTREMADURA         896 non-null    float64
 9   GALICIA             896 non-null    float64
 10  ASTURIAS            896 non-null    float64
 11  CANTABRIA           896 non-null    float64
 12  PAIS VASCO          896 non-null    float64
 13  LA RIOJA            896 non-null    float64
 14  NAVARRA             896 non-null    float64
 15  CANARIAS            896 non-null    float64
 16  ANDALUCIA           896 non-null    float64
 17  CASTILLA Y LEON     896 non-null    float64
 18  ANALISIS            896 non-null    object
dtypes: float64(17), object(2)
memory usage: 133.1+ KB
None
No hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2005
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          930 non-null    object
 1   CATALUÑA            930 non-null    float64
 2   ARAGON              930 non-null    float64
 3   BALEARES            930 non-null    float64
 4   VALENCIA            930 non-null    float64
 5   MURCIA              930 non-null    float64
 6   MADRID              930 non-null    float64
 7   CASTILLA LA MANCHA  930 non-null    float64
 8   EXTREMADURA         930 non-null    float64
 9   GALICIA             930 non-null    float64
 10  ASTURIAS            930 non-null    float64
 11  CANTABRIA           930 non-null    float64
 12  PAIS VASCO          930 non-null    float64
 13  LA RIOJA            930 non-null    float64
 14  NAVARRA             930 non-null    float64
 15  CANARIAS            930 non-null    float64
 16  ANDALUCIA           930 non-null    float64
 17  CASTILLA Y LEON     930 non-null    float64
 18  ANALISIS            930 non-null    object
dtypes: float64(17), object(2)
memory usage: 138.2+ KB
None
No hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2006
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          930 non-null    object
 1   CATALUÑA            930 non-null    float64
 2   ARAGON              930 non-null    float64
 3   BALEARES            930 non-null    float64
 4   VALENCIA            930 non-null    float64
 5   MURCIA              930 non-null    float64
 6   MADRID              930 non-null    float64
 7   CASTILLA LA MANCHA  930 non-null    float64
 8   EXTREMADURA         930 non-null    float64
 9   GALICIA             930 non-null    float64
 10  ASTURIAS            930 non-null    float64
 11  CANTABRIA           930 non-null    float64
 12  PAIS VASCO          930 non-null    float64
 13  LA RIOJA            930 non-null    float64
 14  NAVARRA             930 non-null    float64
 15  CANARIAS            930 non-null    float64
 16  ANDALUCIA           930 non-null    float64
 17  CASTILLA Y LEON     930 non-null    float64
 18  ANALISIS            930 non-null    object
dtypes: float64(17), object(2)
memory usage: 138.2+ KB
None
No hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2007
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1104 entries, 0 to 1103
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1104 non-null   object
 1   CATALUÑA            1104 non-null   float64
 2   ARAGON              1104 non-null   float64
 3   BALEARES            1104 non-null   float64
 4   VALENCIA            1104 non-null   float64
 5   MURCIA              1104 non-null   float64
 6   MADRID              1104 non-null   float64
 7   CASTILLA LA MANCHA  1104 non-null   float64
 8   EXTREMADURA         1104 non-null   float64
 9   GALICIA             1104 non-null   float64
 10  ASTURIAS            1104 non-null   float64
 11  CANTABRIA           1104 non-null   float64
 12  PAIS VASCO          1104 non-null   float64
 13  LA RIOJA            1104 non-null   float64
 14  NAVARRA             1104 non-null   float64
 15  CANARIAS            1104 non-null   float64
 16  ANDALUCIA           1104 non-null   float64
 17  CASTILLA Y LEON     1104 non-null   float64
 18  ANALISIS            1104 non-null   object
dtypes: float64(17), object(2)
memory usage: 164.0+ KB
None
No hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2008
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1112 entries, 0 to 1111
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1112 non-null   object
 1   CATALUÑA            1112 non-null   float64
 2   ARAGON              1112 non-null   float64
 3   BALEARES            1112 non-null   float64
 4   VALENCIA            1112 non-null   float64
 5   MURCIA              1112 non-null   float64
 6   MADRID              1112 non-null   float64
 7   CASTILLA LA MANCHA  1112 non-null   float64
 8   EXTREMADURA         1112 non-null   float64
 9   GALICIA             1112 non-null   float64
 10  ASTURIAS            1112 non-null   float64
 11  CANTABRIA           1112 non-null   float64
 12  PAIS VASCO          1112 non-null   float64
 13  LA RIOJA            1112 non-null   float64
 14  NAVARRA             1112 non-null   float64
 15  CANARIAS            1112 non-null   float64
 16  ANDALUCIA           1112 non-null   float64
 17  CASTILLA Y LEON     1112 non-null   float64
 18  ANALISIS            1112 non-null   object
dtypes: float64(17), object(2)
memory usage: 165.2+ KB
None
No hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2009
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1112 entries, 0 to 1111
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1112 non-null   object
 1   CATALUÑA            1112 non-null   float64
 2   ARAGON              1112 non-null   float64
 3   BALEARES            1112 non-null   float64
 4   VALENCIA            1112 non-null   float64
 5   MURCIA              1112 non-null   float64
 6   MADRID              1112 non-null   float64
 7   CASTILLA LA MANCHA  1112 non-null   float64
 8   EXTREMADURA         1112 non-null   float64
 9   GALICIA             1112 non-null   float64
 10  ASTURIAS            1112 non-null   float64
 11  CANTABRIA           1112 non-null   float64
 12  PAIS VASCO          1112 non-null   float64
 13  LA RIOJA            1112 non-null   float64
 14  NAVARRA             1112 non-null   float64
 15  CANARIAS            1112 non-null   float64
 16  ANDALUCIA           1112 non-null   float64
 17  CASTILLA Y LEON     1112 non-null   float64
 18  ANALISIS            1112 non-null   object
dtypes: float64(17), object(2)
memory usage: 165.2+ KB
None
No hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2010
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1112 entries, 0 to 1111
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1112 non-null   object
 1   CATALUÑA            1112 non-null   float64
 2   ARAGON              1112 non-null   float64
 3   BALEARES            1112 non-null   float64
 4   VALENCIA            1112 non-null   float64
 5   MURCIA              1112 non-null   float64
 6   MADRID              1112 non-null   float64
 7   CASTILLA LA MANCHA  1112 non-null   float64
 8   EXTREMADURA         1112 non-null   float64
 9   GALICIA             1112 non-null   float64
 10  ASTURIAS            1112 non-null   float64
 11  CANTABRIA           1112 non-null   float64
 12  PAIS VASCO          1112 non-null   float64
 13  LA RIOJA            1112 non-null   float64
 14  NAVARRA             1112 non-null   float64
 15  CANARIAS            1112 non-null   float64
 16  ANDALUCIA           1112 non-null   float64
 17  CASTILLA Y LEON     1112 non-null   float64
 18  ANALISIS            1112 non-null   object
dtypes: float64(17), object(2)
memory usage: 165.2+ KB
None
No hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2011
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1112 entries, 0 to 1111
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1112 non-null   object
 1   CATALUÑA            1112 non-null   float64
 2   ARAGON              1112 non-null   float64
 3   BALEARES            1112 non-null   float64
 4   VALENCIA            1112 non-null   float64
 5   MURCIA              1112 non-null   float64
 6   MADRID              1112 non-null   float64
 7   CASTILLA LA MANCHA  1112 non-null   float64
 8   EXTREMADURA         1112 non-null   float64
 9   GALICIA             1112 non-null   float64
 10  ASTURIAS            1112 non-null   float64
 11  CANTABRIA           1112 non-null   float64
 12  PAIS VASCO          1112 non-null   float64
 13  LA RIOJA            1112 non-null   float64
 14  NAVARRA             1112 non-null   float64
 15  CANARIAS            1112 non-null   float64
 16  ANDALUCIA           1112 non-null   float64
 17  CASTILLA Y LEON     1112 non-null   float64
 18  ANALISIS            1112 non-null   object
dtypes: float64(17), object(2)
memory usage: 165.2+ KB
None
No hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2012
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1112 entries, 0 to 1111
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1112 non-null   object
 1   CATALUÑA            1112 non-null   float64
 2   ARAGON              1112 non-null   float64
 3   BALEARES            1112 non-null   float64
 4   VALENCIA            1112 non-null   float64
 5   MURCIA              1112 non-null   float64
 6   MADRID              1112 non-null   float64
 7   CASTILLA LA MANCHA  1112 non-null   float64
 8   EXTREMADURA         1112 non-null   float64
 9   GALICIA             1112 non-null   float64
 10  ASTURIAS            1112 non-null   float64
 11  CANTABRIA           1112 non-null   float64
 12  PAIS VASCO          1112 non-null   float64
 13  LA RIOJA            1112 non-null   float64
 14  NAVARRA             1112 non-null   float64
 15  CANARIAS            1112 non-null   float64
 16  ANDALUCIA           1112 non-null   float64
 17  CASTILLA Y LEON     1112 non-null   float64
 18  ANALISIS            1112 non-null   object
dtypes: float64(17), object(2)
memory usage: 165.2+ KB
None
No hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2013
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1160 entries, 0 to 1159
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              1160 non-null   object
 1   CATALUÑA                1160 non-null   float64
 2   ARAGÓN                  1160 non-null   float64
 3   ILLES BALEARS           1160 non-null   float64
 4   COMUNITAT VALENCIANA    1160 non-null   float64
 5   REGIÓN DE MURCIA        1160 non-null   float64
 6   COMUNIDAD DE MADRID     1160 non-null   float64
 7   CASTILLA - LA MANCHA    1160 non-null   float64
 8   EXTREMADURA             1160 non-null   float64
 9   GALICIA                 1160 non-null   float64
 10  PRINCIPADO DE ASTURIAS  1160 non-null   float64
 11  CANTABRIA               1160 non-null   float64
 12  PAIS VASCO              1160 non-null   float64
 13  LA RIOJA                1160 non-null   float64
 14  C. FORAL DE NAVARRA     1160 non-null   float64
 15  CANARIAS                1160 non-null   float64
 16  ANDALUCIA               1160 non-null   float64
 17  CASTILLA Y LEON         1160 non-null   float64
 18  ANALISIS                1160 non-null   object
dtypes: float64(17), object(2)
memory usage: 172.3+ KB
None
No hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2014
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1160 entries, 0 to 1159
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              1160 non-null   object
 1   CATALUÑA                1160 non-null   float64
 2   ARAGÓN                  1160 non-null   float64
 3   ILLES BALEARS           1160 non-null   float64
 4   COMUNITAT VALENCIANA    1160 non-null   float64
 5   REGIÓN DE MURCIA        1160 non-null   float64
 6   COMUNIDAD DE MADRID     1160 non-null   float64
 7   CASTILLA - LA MANCHA    1160 non-null   float64
 8   EXTREMADURA             1160 non-null   float64
 9   GALICIA                 1160 non-null   float64
 10  PRINCIPADO DE ASTURIAS  1160 non-null   float64
 11  CANTABRIA               1160 non-null   float64
 12  PAIS VASCO              1160 non-null   float64
 13  LA RIOJA                1160 non-null   float64
 14  C. FORAL DE NAVARRA     1160 non-null   float64
 15  CANARIAS                1160 non-null   float64
 16  ANDALUCIA               1160 non-null   float64
 17  CASTILLA Y LEON         1160 non-null   float64
 18  ANALISIS                1160 non-null   object
dtypes: float64(17), object(2)
memory usage: 172.3+ KB
None
No hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2015
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1160 entries, 0 to 1159
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              1160 non-null   object
 1   CATALUÑA                1160 non-null   float64
 2   ARAGÓN                  1160 non-null   float64
 3   ILLES BALEARS           1160 non-null   float64
 4   COMUNITAT VALENCIANA    1160 non-null   float64
 5   REGIÓN DE MURCIA        1160 non-null   float64
 6   COMUNIDAD DE MADRID     1160 non-null   float64
 7   CASTILLA - LA MANCHA    1160 non-null   float64
 8   EXTREMADURA             1160 non-null   float64
 9   GALICIA                 1160 non-null   float64
 10  PRINCIPADO DE ASTURIAS  1160 non-null   float64

In [157]:
# Corrijo el nombre de las variables correspondientes a las comunidades autónomas.

for df in lista_df:
    df.columns = df.columns.str.replace("Unnamed: 0", "CATEGORIAS", regex=False)
    df.columns = df.columns.str.replace("CATALUÑA", "Cataluña", regex=False)
    df.columns = df.columns.str.replace("ARAGON", "Aragón", regex=False)
    df.columns = df.columns.str.replace("ARAGÓN", "Aragón", regex=False)
    df.columns = df.columns.str.replace("BALEARES", "Baleares", regex=False)
    df.columns = df.columns.str.replace("ILLES BALEARS", "Baleares", regex=False)
    df.columns = df.columns.str.replace("VALENCIA", "Valencia", regex=False)
    df.columns = df.columns.str.replace("COMUNITAT VALENCIANA", "Valencia", regex=False)
    df.columns = df.columns.str.replace("COMUNITAT ValenciaNA", "Valencia", regex=False)
    df.columns = df.columns.str.replace("MURCIA", "Murcia", regex=False)
    df.columns = df.columns.str.replace("REGIÓN DE MURCIA", "Murcia", regex=False)
    df.columns = df.columns.str.replace("REGIÓN DE Murcia", "Murcia", regex=False)
    df.columns = df.columns.str.replace("MADRID", "Madrid", regex=False)
    df.columns = df.columns.str.replace("COMUNIDAD DE Madrid", "Madrid", regex=False)
    df.columns = df.columns.str.replace("COMUNIDAD DE MADRID", "Madrid", regex=False)
    df.columns = df.columns.str.replace("CASTILLA-LA MANCHA", "Castilla La Mancha", regex=False)
    df.columns = df.columns.str.replace("CASTILLA LA MANCHA", "Castilla La Mancha", regex=False)
    df.columns = df.columns.str.replace("CASTILLA - LA MANCHA", "Castilla La Mancha", regex=False)
    df.columns = df.columns.str.replace("EXTREMADURA", "Extremadura", regex=False)
    df.columns = df.columns.str.replace("GALICIA", "Galicia", regex=False)
    df.columns = df.columns.str.replace("ASTURIAS", "Asturias", regex=False)
    df.columns = df.columns.str.replace("PRINCIPADO DE ASTURIAS", "Asturias", regex=False)
    df.columns = df.columns.str.replace("PRINCIPADO DE Asturias", "Asturias", regex=False)
    df.columns = df.columns.str.replace("CANTABRIA", "Cantabria", regex=False)
    df.columns = df.columns.str.replace("PAIS VASCO", "País Vasco", regex=False)
    df.columns = df.columns.str.replace("RIOJA", "La Rioja", regex=False)
    df.columns = df.columns.str.replace("LA RIOJA", "La Rioja", regex=False)
    df.columns = df.columns.str.replace("NAVARRA", "Navarra", regex=False)
    df.columns = df.columns.str.replace("C. FORAL DE NAVARRA", "Navarra", regex=False)
    df.columns = df.columns.str.replace("C. FORAL DE Navarra", "Navarra", regex=False)
    df.columns = df.columns.str.replace("CANARIAS", "Canarias", regex=False)
    df.columns = df.columns.str.replace("ANDALUCIA", "Andalucía", regex=False)
    df.columns = df.columns.str.replace("ANDALUCÍA", "Andalucía", regex=False)
    df.columns = df.columns.str.replace("CASTILLA Y LEON", "Castilla y León", regex=False)
    df.columns = df.columns.str.replace("CASTILLA Y LEÓN", "Castilla y León", regex=False)
    df.loc[:, sorted(df.columns)] = df.loc[:, df.columns]

In [158]:
# Realizo EDA en cada marco de datos

for i, df in enumerate(lista_df):
    tabla_nombre = f"df_{2000 + i}"
    print("Nombre de la tabla de datos:", tabla_nombre)
    print(df.info())
    if df.isna().any().any():
        print("Hay valores NA en la tabla de datos" + "\n")
    else:
        print("No hay valores NA en la tabla de datos" + "\n")

Nombre de la tabla de datos: df_2000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668 entries, 0 to 667
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CATEGORIAS          668 non-null    object
 1   Cataluña            666 non-null    float64
 2   Aragón              654 non-null    float64
 3   Baleares            658 non-null    float64
 4   Valencia            664 non-null    float64
 5   Murcia              660 non-null    float64
 6   Andalucía           664 non-null    float64
 7   Madrid              664 non-null    float64
 8   Castilla La Mancha  660 non-null    float64
 9   Extremadura         654 non-null    float64
 10  Castilla y León     664 non-null    float64
 11  Galicia             664 non-null    float64
 12  Asturias            662 non-null    float64
 13  Cantabria           660 non-null    float64
 14  País Vasco          664 non-null    float64
 15  La Rioja            646 non-null    float64
 16  Navarra             656 non-null    float64
 17  Canarias            662 non-null    float64
 18  ANALISIS            668 non-null    object
dtypes: float64(17), object(2)
memory usage: 99.3+ KB
None
Hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2001
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668 entries, 0 to 667
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CATEGORIAS          668 non-null    object
 1   Cataluña            664 non-null    float64
 2   Aragón              658 non-null    float64
 3   Baleares            652 non-null    float64
 4   Valencia            664 non-null    float64
 5   Murcia              662 non-null    float64
 6   Andalucía           666 non-null    float64
 7   Madrid              664 non-null    float64
 8   Castilla La Mancha  664 non-null    float64
 9   Extremadura         660 non-null    float64
 10  Castilla y León     662 non-null    float64
 11  Galicia             664 non-null    float64
 12  Asturias            662 non-null    float64
 13  Cantabria           648 non-null    float64
 14  País Vasco          662 non-null    float64
 15  La Rioja            638 non-null    float64
 16  Navarra             656 non-null    float64
 17  Canarias            660 non-null    float64
 18  ANALISIS            668 non-null    object
dtypes: float64(17), object(2)
memory usage: 99.3+ KB
None
Hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2002
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 722 entries, 0 to 721
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CATEGORIAS          722 non-null    object
 1   Cataluña            660 non-null    float64
 2   Aragón              658 non-null    float64
 3   Baleares            648 non-null    float64
 4   Valencia            662 non-null    float64
 5   Murcia              658 non-null    float64
 6   Andalucía           660 non-null    float64
 7   Madrid              660 non-null    float64
 8   Castilla La Mancha  658 non-null    float64
 9   Extremadura         652 non-null    float64
 10  Castilla y León     660 non-null    float64
 11  Galicia             656 non-null    float64
 12  Asturias            658 non-null    float64
 13  Cantabria           644 non-null    float64
 14  País Vasco          658 non-null    float64
 15  La Rioja            640 non-null    float64
 16  Navarra             650 non-null    float64
 17  Canarias            658 non-null    float64
 18  ANALISIS            722 non-null    object
dtypes: float64(17), object(2)
memory usage: 107.3+ KB
None
Hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2003
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 722 entries, 0 to 721
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CATEGORIAS          722 non-null    object
 1   Cataluña            718 non-null    float64
 2   Aragón              716 non-null    float64
 3   Baleares            708 non-null    float64
 4   Valencia            712 non-null    float64
 5   Murcia              714 non-null    float64
 6   Andalucía           716 non-null    float64
 7   Madrid              718 non-null    float64
 8   Castilla La Mancha  712 non-null    float64
 9   Extremadura         706 non-null    float64
 10  Castilla y León     716 non-null    float64
 11  Galicia             714 non-null    float64
 12  Asturias            712 non-null    float64
 13  Cantabria           696 non-null    float64
 14  País Vasco          716 non-null    float64
 15  La Rioja            698 non-null    float64
 16  Navarra             708 non-null    float64
 17  Canarias            714 non-null    float64
 18  ANALISIS            722 non-null    object
dtypes: float64(17), object(2)
memory usage: 107.3+ KB
None
Hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2004
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 896 entries, 0 to 895
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CATEGORIAS          896 non-null    object
 1   Cataluña            896 non-null    float64
 2   Aragón              896 non-null    float64
 3   Baleares            896 non-null    float64
 4   Valencia            896 non-null    float64
 5   Murcia              896 non-null    float64
 6   Madrid              896 non-null    float64
 7   Castilla La Mancha  896 non-null    float64
 8   Extremadura         896 non-null    float64
 9   Galicia             896 non-null    float64
 10  Asturias            896 non-null    float64
 11  Cantabria           896 non-null    float64
 12  País Vasco          896 non-null    float64
 13  LA La Rioja         896 non-null    float64
 14  Navarra             896 non-null    float64
 15  Canarias            896 non-null    float64
 16  Andalucía           896 non-null    float64
 17  Castilla y León     896 non-null    float64
 18  ANALISIS            896 non-null    object
dtypes: float64(17), object(2)
memory usage: 133.1+ KB
None
No hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2005
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CATEGORIAS          930 non-null    object
 1   Cataluña            930 non-null    float64
 2   Aragón              930 non-null    float64
 3   Baleares            930 non-null    float64
 4   Valencia            930 non-null    float64
 5   Murcia              930 non-null    float64
 6   Madrid              930 non-null    float64
 7   Castilla La Mancha  930 non-null    float64
 8   Extremadura         930 non-null    float64
 9   Galicia             930 non-null    float64
 10  Asturias            930 non-null    float64
 11  Cantabria           930 non-null    float64
 12  País Vasco          930 non-null    float64
 13  LA La Rioja         930 non-null    float64
 14  Navarra             930 non-null    float64
 15  Canarias            930 non-null    float64
 16  Andalucía           930 non-null    float64
 17  Castilla y León     930 non-null    float64
 18  ANALISIS            930 non-null    object
dtypes: float64(17), object(2)
memory usage: 138.2+ KB
None
No hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2006
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CATEGORIAS          930 non-null    object
 1   Cataluña            930 non-null    float64
 2   Aragón              930 non-null    float64
 3   Baleares            930 non-null    float64
 4   Valencia            930 non-null    float64
 5   Murcia              930 non-null    float64
 6   Madrid              930 non-null    float64
 7   Castilla La Mancha  930 non-null    float64
 8   Extremadura         930 non-null    float64
 9   Galicia             930 non-null    float64
 10  Asturias            930 non-null    float64
 11  Cantabria           930 non-null    float64
 12  País Vasco          930 non-null    float64
 13  LA La Rioja         930 non-null    float64
 14  Navarra             930 non-null    float64
 15  Canarias            930 non-null    float64
 16  Andalucía           930 non-null    float64
 17  Castilla y León     930 non-null    float64
 18  ANALISIS            930 non-null    object
dtypes: float64(17), object(2)
memory usage: 138.2+ KB
None
No hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2007
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1104 entries, 0 to 1103
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CATEGORIAS          1104 non-null   object
 1   Cataluña            1104 non-null   float64
 2   Aragón              1104 non-null   float64
 3   Baleares            1104 non-null   float64
 4   Valencia            1104 non-null   float64
 5   Murcia              1104 non-null   float64
 6   Madrid              1104 non-null   float64
 7   Castilla La Mancha  1104 non-null   float64
 8   Extremadura         1104 non-null   float64
 9   Galicia             1104 non-null   float64
 10  Asturias            1104 non-null   float64
 11  Cantabria           1104 non-null   float64
 12  País Vasco          1104 non-null   float64
 13  LA La Rioja         1104 non-null   float64
 14  Navarra             1104 non-null   float64
 15  Canarias            1104 non-null   float64
 16  Andalucía           1104 non-null   float64
 17  Castilla y León     1104 non-null   float64
 18  ANALISIS            1104 non-null   object
dtypes: float64(17), object(2)
memory usage: 164.0+ KB
None
No hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2008
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1112 entries, 0 to 1111
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CATEGORIAS          1112 non-null   object
 1   Cataluña            1112 non-null   float64
 2   Aragón              1112 non-null   float64
 3   Baleares            1112 non-null   float64
 4   Valencia            1112 non-null   float64
 5   Murcia              1112 non-null   float64
 6   Madrid              1112 non-null   float64
 7   Castilla La Mancha  1112 non-null   float64
 8   Extremadura         1112 non-null   float64
 9   Galicia             1112 non-null   float64
 10  Asturias            1112 non-null   float64
 11  Cantabria           1112 non-null   float64
 12  País Vasco          1112 non-null   float64
 13  LA La Rioja         1112 non-null   float64
 14  Navarra             1112 non-null   float64
 15  Canarias            1112 non-null   float64
 16  Andalucía           1112 non-null   float64
 17  Castilla y León     1112 non-null   float64
 18  ANALISIS            1112 non-null   object
dtypes: float64(17), object(2)
memory usage: 165.2+ KB
None
No hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2009
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1112 entries, 0 to 1111
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CATEGORIAS          1112 non-null   object
 1   Cataluña            1112 non-null   float64
 2   Aragón              1112 non-null   float64
 3   Baleares            1112 non-null   float64
 4   Valencia            1112 non-null   float64
 5   Murcia              1112 non-null   float64
 6   Madrid              1112 non-null   float64
 7   Castilla La Mancha  1112 non-null   float64
 8   Extremadura         1112 non-null   float64
 9   Galicia             1112 non-null   float64
 10  Asturias            1112 non-null   float64
 11  Cantabria           1112 non-null   float64
 12  País Vasco          1112 non-null   float64
 13  LA La Rioja         1112 non-null   float64
 14  Navarra             1112 non-null   float64
 15  Canarias            1112 non-null   float64
 16  Andalucía           1112 non-null   float64
 17  Castilla y León     1112 non-null   float64
 18  ANALISIS            1112 non-null   object
dtypes: float64(17), object(2)
memory usage: 165.2+ KB
None
No hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2010
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1112 entries, 0 to 1111
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CATEGORIAS          1112 non-null   object
 1   Cataluña            1112 non-null   float64
 2   Aragón              1112 non-null   float64
 3   Baleares            1112 non-null   float64
 4   Valencia            1112 non-null   float64
 5   Murcia              1112 non-null   float64
 6   Madrid              1112 non-null   float64
 7   Castilla La Mancha  1112 non-null   float64
 8   Extremadura         1112 non-null   float64
 9   Galicia             1112 non-null   float64
 10  Asturias            1112 non-null   float64
 11  Cantabria           1112 non-null   float64
 12  País Vasco          1112 non-null   float64
 13  LA La Rioja         1112 non-null   float64
 14  Navarra             1112 non-null   float64
 15  Canarias            1112 non-null   float64
 16  Andalucía           1112 non-null   float64
 17  Castilla y León     1112 non-null   float64
 18  ANALISIS            1112 non-null   object
dtypes: float64(17), object(2)
memory usage: 165.2+ KB
None
No hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2011
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1112 entries, 0 to 1111
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CATEGORIAS          1112 non-null   object
 1   Cataluña            1112 non-null   float64
 2   Aragón              1112 non-null   float64
 3   Baleares            1112 non-null   float64
 4   Valencia            1112 non-null   float64
 5   Murcia              1112 non-null   float64
 6   Madrid              1112 non-null   float64
 7   Castilla La Mancha  1112 non-null   float64
 8   Extremadura         1112 non-null   float64
 9   Galicia             1112 non-null   float64
 10  Asturias            1112 non-null   float64
 11  Cantabria           1112 non-null   float64
 12  País Vasco          1112 non-null   float64
 13  LA La Rioja         1112 non-null   float64
 14  Navarra             1112 non-null   float64
 15  Canarias            1112 non-null   float64
 16  Andalucía           1112 non-null   float64
 17  Castilla y León     1112 non-null   float64
 18  ANALISIS            1112 non-null   object
dtypes: float64(17), object(2)
memory usage: 165.2+ KB
None
No hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2012
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1112 entries, 0 to 1111
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CATEGORIAS          1112 non-null   object
 1   Cataluña            1112 non-null   float64
 2   Aragón              1112 non-null   float64
 3   Baleares            1112 non-null   float64
 4   Valencia            1112 non-null   float64
 5   Murcia              1112 non-null   float64
 6   Madrid              1112 non-null   float64
 7   Castilla La Mancha  1112 non-null   float64
 8   Extremadura         1112 non-null   float64
 9   Galicia             1112 non-null   float64
 10  Asturias            1112 non-null   float64
 11  Cantabria           1112 non-null   float64
 12  País Vasco          1112 non-null   float64
 13  LA La Rioja         1112 non-null   float64
 14  Navarra             1112 non-null   float64
 15  Canarias            1112 non-null   float64
 16  Andalucía           1112 non-null   float64
 17  Castilla y León     1112 non-null   float64
 18  ANALISIS            1112 non-null   object
dtypes: float64(17), object(2)
memory usage: 165.2+ KB
None
No hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2013
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1160 entries, 0 to 1159
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CATEGORIAS          1160 non-null   object
 1   Cataluña            1160 non-null   float64
 2   Aragón              1160 non-null   float64
 3   Baleares            1160 non-null   float64
 4   Valencia            1160 non-null   float64
 5   Murcia              1160 non-null   float64
 6   Madrid              1160 non-null   float64
 7   Castilla La Mancha  1160 non-null   float64
 8   Extremadura         1160 non-null   float64
 9   Galicia             1160 non-null   float64
 10  Asturias            1160 non-null   float64
 11  Cantabria           1160 non-null   float64
 12  País Vasco          1160 non-null   float64
 13  LA La Rioja         1160 non-null   float64
 14  Navarra             1160 non-null   float64
 15  Canarias            1160 non-null   float64
 16  Andalucía           1160 non-null   float64
 17  Castilla y León     1160 non-null   float64
 18  ANALISIS            1160 non-null   object
dtypes: float64(17), object(2)
memory usage: 172.3+ KB
None
No hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2014
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1160 entries, 0 to 1159
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CATEGORIAS          1160 non-null   object
 1   Cataluña            1160 non-null   float64
 2   Aragón              1160 non-null   float64
 3   Baleares            1160 non-null   float64
 4   Valencia            1160 non-null   float64
 5   Murcia              1160 non-null   float64
 6   Madrid              1160 non-null   float64
 7   Castilla La Mancha  1160 non-null   float64
 8   Extremadura         1160 non-null   float64
 9   Galicia             1160 non-null   float64
 10  Asturias            1160 non-null   float64
 11  Cantabria           1160 non-null   float64
 12  País Vasco          1160 non-null   float64
 13  LA La Rioja         1160 non-null   float64
 14  Navarra             1160 non-null   float64
 15  Canarias            1160 non-null   float64
 16  Andalucía           1160 non-null   float64
 17  Castilla y León     1160 non-null   float64
 18  ANALISIS            1160 non-null   object
dtypes: float64(17), object(2)
memory usage: 172.3+ KB
None
No hay valores NA en la tabla de datos

Nombre de la tabla de datos: df_2015
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1160 entries, 0 to 1159
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CATEGORIAS          1160 non-null   object
 1   Cataluña            1160 non-null   float64
 2   Aragón              1160 non-null   float64
 3   Baleares            1160 non-null   float64
 4   Valencia            1160 non-null   float64
 5   Murcia              1160 non-null   float64
 6   Madrid              1160 non-null   float64
 7   Castilla La Mancha  1160 non-null   float64
 8   Extremadura         1160 non-null   float64
 9   Galicia             1160 non-null   float64
 10  Asturias            1160 non-null   float64
 11  Cantabria           1160 non-null   float64
 12  País Vasco          1160 non-null   float64
 13  LA La Rioja         1160 non-null   float64
 14  Navarra             1160 non-null   float64
 15  Canarias            1160 non-null   float64

In [159]:
# Añado la columna AÑO con los valores correspondiente al año del marco de datos

for i, df in enumerate(lista_df):
    df["AÑO"] = int(lista_archivos[i])

In [160]:
# Uno todas las tablas en una sola df_total

df_total = pd.concat(objs=lista_df, axis=0)

In [161]:
# Realizó un filtro en df_total para sólo quedarme con las categorías de alimentos que voy a utilizar

lista_categoria = ["T.HUEVOS KGS", "MIEL", "TOTAL CARNE", "TOTAL PESCA", "TOTAL LECHE LIQUIDA", "TOTAL OTRAS LECHES",
                   "DERIVADOS LACTEOS", "PAN", "BOLL.PAST.GALLET.CERE", "PRODUCTOS NAVIDEÑOS",
                   "CHOCOLATES/CACAOS/SUC", "ARROZ", "TOTAL PASTAS", "AZUCAR", "EDULCORANTES", "LEGUMBRES",
                   "TOTAL ACEITE", "MARGARINA", "ACEITUNAS", "BEBIDAS DERIVADAS VI", "TOTAL VINOS", "CERVEZAS",
                   "SIDRAS", "T.BEBIDAS ESPIRITUOSA", "VINAGRE", "TOTAL ZOMO Y NECTAR", "TOTAL PATATAS",
                   "T.HORTALIZAS FRESCAS", "T.FRUTAS FRESCAS", "FRUTOS SECOS", "T.FRUTA&HORTA.TRANSF",
                   "PLATOS PREPARADOS", "CAFES E INFUSIONES", "CALDOS", "SALSAS", "AGUA DE BEBIDA ENVAS.",
                   "GASEOSAS Y BEBID.REFR", "BASES PIZZAS&MASAS HO", "HARINAS Y SEMOLAS", "ENCURTIDOS",
                   "ESPECIAS Y CONDIMENTO", "SAL", "OTROS PROD.EN PESO", "OTROS PROD.EN VOLUMEN", "ALGAS"]

df_total = df_total[df_total["CATEGORIAS"].isin(lista_categoria)]

In [162]:
# Corrijo el nombre de la categoría de los alimentos


nuevas_categorias = {"T.HUEVOS KGS": "Huevos", "MIEL": "Miel", "TOTAL CARNE": "Carne",
                     "TOTAL PESCA": "Pescados y mariscos", "TOTAL LECHE LIQUIDA": "Leche líquida",
                     "TOTAL OTRAS LECHES": "Otras leches", "DERIVADOS LACTEOS": "Derivados lacteos", "PAN": "Pan",
                     "BOLL.PAST.GALLET.CERE": "Bolleria, pastelería, galletas y cereales",
                     "PRODUCTOS NAVIDEÑOS": "Productos navideños", "CHOCOLATES/CACAOS/SUC": "Chocolates",
                     "ARROZ": "Arroz", "TOTAL PASTAS": "Pastas", "AZUCAR": "Azucar", "EDULCORANTES": "Edulcorante",
                     "LEGUMBRES": "Legumbres", "TOTAL ACEITE": "Aceites", "MARGARINA": "Margarinas",
                     "ACEITUNAS": "Aceitunas", "BEBIDAS DERIVADAS VI": "Bebidas derivadas del vino",
                     "TOTAL VINOS": "Vinos", "CERVEZAS": "Cervezas", "SIDRAS": "Sidras",
                     "T.BEBIDAS ESPIRITUOSA": "Bebidas espirituosas", "VINAGRE": "Vinagres",
                     "TOTAL ZOMO Y NECTAR": "Zumos y nectares", "TOTAL PATATAS": "Patatas",
                     "T.HORTALIZAS FRESCAS": "Hortalizas frescas", "T.FRUTAS FRESCAS": "Frutas frescas",
                     "FRUTOS SECOS": "Frutos secos", "T.FRUTA&HORTA.TRANSF": "Frutas y hortalizas transformadas",
                     "PLATOS PREPARADOS": "Platos preparados", "CAFES E INFUSIONES": "Cafes e infusiones",
                     "CALDOS": "Caldos", "SALSAS": "Salsas", "AGUA DE BEBIDA ENVAS.": "Aguas envasadas",
                     "GASEOSAS Y BEBID.REFR": "Gaseosas y bebidas refrescantes", "BASES PIZZAS&MASAS HO": "Masas",
                     "HARINAS Y SEMOLAS": "Harinas y semolas", "ENCURTIDOS": "Encurtidos",
                     "ESPECIAS Y CONDIMENTO": "Especias", "SAL": "Sal", "OTROS PROD.EN PESO": "Otros productos en peso",
                     "OTROS PROD.EN VOLUMEN": "Otros productos en volumen", "ALGAS": "Algas"}

df_total["CATEGORIAS"] = df_total["CATEGORIAS"].replace(nuevas_categorias)

In [163]:
# Transformo el formato de ancho a largo, manteniendo las columnas "AÑO", "CATEGORIAS" y "ANALISIS" como identificadores


df_total = df_total.melt(id_vars=["AÑO", "CATEGORIAS", "ANALISIS"], var_name="COMUNIDAD AUTONOMA", value_name="CANTIDAD")

In [164]:
# Realizo EDA en df_total

print(df_total.info())
if df_total.isna().any().any():
    print("Hay valores NA en la tabla de datos" + "\n")
else:
    print("No hay valores NA en la tabla de datos" + "\n")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32760 entries, 0 to 32759
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   AÑO                 32760 non-null  int64
 1   CATEGORIAS          32760 non-null  object
 2   ANALISIS            32760 non-null  object
 3   COMUNIDAD AUTONOMA  32760 non-null  object
 4   CANTIDAD            30940 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 1.2+ MB
None
Hay valores NA en la tabla de datos

Según se ha podido comprobar en EDA, existen valores NA. A continuación localizaré en que registros existen dichos valores

In [176]:
# Localizo en que categorías de alimentos estan los valores NA

valores_faltantes = df_total.isna()

registros_con_faltantes = df_total[valores_faltantes.any(axis=1)]

pd.set_option('display.max_rows', None)

#print(registros_con_faltantes)

print(registros_con_faltantes["ANALISIS"].unique())
print(registros_con_faltantes[registros_con_faltantes["ANALISIS"] == "Gasto per cápita"])
#print(registros_con_faltantes["AÑO"].unique())

['Consumo per capita' 'Gasto per cápita']
        AÑO                                 CATEGORIAS          ANALISIS  \
25769  2004                                       Miel  Gasto per cápita
25770  2004                                      Carne  Gasto per cápita
25771  2004                        Pescados y mariscos  Gasto per cápita
25772  2004                              Leche líquida  Gasto per cápita
25773  2004                               Otras leches  Gasto per cápita
25774  2004                          Derivados lacteos  Gasto per cápita
25775  2004                                        Pan  Gasto per cápita
25776  2004  Bolleria, pastelería, galletas y cereales  Gasto per cápita
25777  2004                        Productos navideños  Gasto per cápita
25778  2004                                 Chocolates  Gasto per cápita
25779  2004                                      Arroz  Gasto per cápita
25780  2004                                     Pastas  Gasto per cápita
25781  2004                                     Azucar  Gasto per cápita
25782  2004                                Edulcorante  Gasto per cápita
25783  2004                                  Legumbres  Gasto per cápita
25784  2004                                    Aceites  Gasto per cápita
25785  2004                                 Margarinas  Gasto per cápita
25786  2004                                  Aceitunas  Gasto per cápita
25787  2004                                      Vinos  Gasto per cápita
25788  2004                                   Cervezas  Gasto per cápita
25789  2004                                   Vinagres  Gasto per cápita
25790  2004                                    Patatas  Gasto per cápita
25791  2004                         Hortalizas frescas  Gasto per cápita
25792  2004                             Frutas frescas  Gasto per cápita
25793  2004                               Frutos secos  Gasto per cápita
25794  2004          Frutas y hortalizas transformadas  Gasto per cápita
25795  2004                          Platos preparados  Gasto per cápita
25796  2004                         Cafes e infusiones  Gasto per cápita
25797  2004                                     Caldos  Gasto per cápita
25798  2004                                     Salsas  Gasto per cápita
25799  2004            Gaseosas y bebidas refrescantes  Gasto per cápita
25800  2004                    Otros productos en peso  Gasto per cápita
25801  2004                 Otros productos en volumen  Gasto per cápita
25840  2005                                       Miel  Gasto per cápita
25841  2005                                      Carne  Gasto per cápita
25842  2005                        Pescados y mariscos  Gasto per cápita
25843  2005                              Leche líquida  Gasto per cápita
25844  2005                               Otras leches  Gasto per cápita
25845  2005                          Derivados lacteos  Gasto per cápita
25846  2005                                        Pan  Gasto per cápita
25847  2005  Bolleria, pastelería, galletas y cereales  Gasto per cápita
25848  2005                        Productos navideños  Gasto per cápita
25849  2005                                 Chocolates  Gasto per cápita
25850  2005                                      Arroz  Gasto per cápita
25851  2005                                     Pastas  Gasto per cápita
25852  2005                                     Azucar  Gasto per cápita
25853  2005                                Edulcorante  Gasto per cápita
25854  2005                                  Legumbres  Gasto per cápita
25855  2005                                    Aceites  Gasto per cápita
25856  2005                                 Margarinas  Gasto per cápita
25857  2005                                  Aceitunas  Gasto per cápita
25858  2005                                      Vinos  Gasto per cápita
25859  2005                                   Cervezas  Gasto per cápita
25860  2005                                   Vinagres  Gasto per cápita
25861  2005                                    Patatas  Gasto per cápita
25862  2005                         Hortalizas frescas  Gasto per cápita
25863  2005                             Frutas frescas  Gasto per cápita
25864  2005                               Frutos secos  Gasto per cápita
25865  2005          Frutas y hortalizas transformadas  Gasto per cápita
25866  2005                          Platos preparados  Gasto per cápita
25867  2005                         Cafes e infusiones  Gasto per cápita
25868  2005                                     Caldos  Gasto per cápita
25869  2005                                     Salsas  Gasto per cápita
25870  2005            Gaseosas y bebidas refrescantes  Gasto per cápita
25871  2005                                      Masas  Gasto per cápita
25872  2005                          Harinas y semolas  Gasto per cápita
25873  2005                                 Encurtidos  Gasto per cápita
25874  2005                                   Especias  Gasto per cápita
25875  2005                                        Sal  Gasto per cápita
25876  2005                    Otros productos en peso  Gasto per cápita
25877  2005                 Otros productos en volumen  Gasto per cápita
25916  2006                                       Miel  Gasto per cápita
25917  2006                                      Carne  Gasto per cápita
25918  2006                        Pescados y mariscos  Gasto per cápita
25919  2006                              Leche líquida  Gasto per cápita
25920  2006                               Otras leches  Gasto per cápita
25921  2006                          Derivados lacteos  Gasto per cápita
25922  2006                                        Pan  Gasto per cápita
25923  2006  Bolleria, pastelería, galletas y cereales  Gasto per cápita
25924  2006                        Productos navideños  Gasto per cápita
25925  2006                                 Chocolates  Gasto per cápita
25926  2006                                      Arroz  Gasto per cápita
25927  2006                                     Pastas  Gasto per cápita
25928  2006                                     Azucar  Gasto per cápita
25929  2006                                Edulcorante  Gasto per cápita
25930  2006                                  Legumbres  Gasto per cápita
25931  2006                                    Aceites  Gasto per cápita
25932  2006                                 Margarinas  Gasto per cápita
25933  2006                                  Aceitunas  Gasto per cápita
25934  2006                                      Vinos  Gasto per cápita
25935  2006                                   Cervezas  Gasto per cápita
25936  2006                                   Vinagres  Gasto per cápita
25937  2006                                    Patatas  Gasto per cápita
25938  2006                         Hortalizas frescas  Gasto per cápita
25939  2006                             Frutas frescas  Gasto per cápita
25940  2006                               Frutos secos  Gasto per cápita
25941  2006          Frutas y hortalizas transformadas  Gasto per cápita
25942  2006                          Platos preparados  Gasto per cápita
25943  2006                         Cafes e infusiones  Gasto per cápita
25944  2006                                     Caldos  Gasto per cápita
25945  2006                                     Salsas  Gasto per cápita
25946  2006            Gaseosas y bebidas refrescantes  Gasto per cápita
25947  2006                                      Masas  Gasto per cápita
25948  2006                          Harinas y semolas  Gasto per cápita
25949  2006                                 Encurtidos  Gasto per cápita
25950  2006                                   Especias  Gasto per cápita
25951  2006                                        Sal  Gasto per cápita
25952  2006                    Otros productos en peso  Gasto per cápita
25953  2006                 Otros productos en volumen  Gasto per cápita
25993  2007                                       Miel  Gasto per cápita
25994  2007                                      Carne  Gasto per cápita
25995  2007                        Pescados y mariscos  Gasto per cápita
25996  2007                              Leche líquida  Gasto per cápita
25997  2007                               Otras leches  Gasto per cápita
25998  2007                          Derivados lacteos  Gasto per cápita
25999  2007                                        Pan  Gasto per cápita
26000  2007  Bolleria, pastelería, galletas y cereales  Gasto per cápita
26001  2007                        Productos navideños  Gasto per cápita
26002  2007                                 Chocolates  Gasto per cápita
26003  2007                                      Arroz  Gasto per cápita
26004  2007                                     Pastas  Gasto per cápita
26005  2007                                     Azucar  Gasto per cápita
26006  2007                                Edulcorante  Gasto per cápita
26007  2007                                  Legumbres  Gasto per cápita
26008  2007                                    Aceites  Gasto per cápita
26009  2007                                 Margarinas  Gasto per cápita
26010  2007                                  Aceitunas  Gasto per cápita
26011  2007                                      Vinos  Gasto per cápita
26012  2007                                   Cervezas  Gasto per cápita
26013  2007                                   Vinagres  Gasto per cápita
26014  2007                                    Patatas  Gasto per cápita
26015  2007                         Hortalizas frescas  Gasto per cápita
26016  2007                             Frutas frescas  Gasto per cápita
26017  2007                               Frutos secos  Gasto per cápita
26018  2007          Frutas y hortalizas transformadas  Gasto per cápita
26019  2007                          Platos preparados  Gasto per cápita
26020  2007                         Cafes e infusiones  Gasto per cápita
26021  2007                                     Caldos  Gasto per cápita
26022  2007                                     Salsas  Gasto per cápita
26023  2007                            Aguas envasadas  Gasto per cápita
26024  2007            Gaseosas y bebidas refrescantes  Gasto per cápita
26025  2007                                      Masas  Gasto per cápita
26026  2007                          Harinas y semolas  Gasto per cápita
26027  2007                                 Encurtidos  Gasto per cápita
26028  2007                                   Especias  Gasto per cápita
26029  2007                                        Sal  Gasto per cápita
26030  2007                    Otros productos en peso  Gasto per cápita
26031  2007                 Otros productos en volumen  Gasto per cápita
26072  2008                                     Huevos  Gasto per cápita
26073  2008                                       Miel  Gasto per cápita
26074  2008                                      Carne  Gasto per cápita
26075  2008                        Pescados y mariscos  Gasto per cápita
26076  2008                              Leche líquida  Gasto per cápita
26077  2008                               Otras leches  Gasto per cápita
26078  2008                          Derivados lacteos  Gasto per cápita
26079  2008                                        Pan  Gasto per cápita
26080  2008  Bolleria, pastelería, galletas y cereales  Gasto per cápita
26081  2008                        Productos navideños  Gasto per cápita
26082  2008                                 Chocolates  Gasto per cápita
26083  2008                                      Arroz  Gasto per cápita
26084  2008                                     Pastas  Gasto per cápita
26085  2008                                     Azucar  Gasto per cápita
26086  2008                                Edulcorante  Gasto per cápita
26087  2008                                  Legumbres  Gasto per cápita
26088  2008                                    Aceites  Gasto per cápita
26089  2008                                 Margarinas  Gasto per cápita
26090  2008                                  Aceitunas  Gasto per cápita
26091  2008                                      Vinos  Gasto per cápita
26092  2008                                   Cervezas  Gasto per cápita
26093  2008                                   Vinagres  Gasto per cápita
26094  2008                                    Patatas  Gasto per cápita
26095  2008                         Hortalizas frescas  Gasto per cápita
26096  2008                             Frutas frescas  Gasto per cápita
26097  2008                               Frutos secos  Gasto per cápita
26098  2008          Frutas y hortalizas transformadas  Gasto per cápita
26099  2008                          Platos preparados  Gasto per cápita
26100  2008                         Cafes e infusiones  Gasto per cápita
26101  2008                                     Caldos  Gasto per cápita
26102  2008                                     Salsas  Gasto per cápita
26103  2008                            Aguas envasadas  Gasto per cápita
26104  2008            Gaseosas y bebidas refrescantes  Gasto per cápita
26105  2008                                      Masas  Gasto per cápita
26106  2008                          Harinas y semolas  Gasto per cápita
26107  2008                                 Encurtidos  Gasto per cápita
26108  2008                                   Especias  Gasto per cápita
26109  2008                                        Sal  Gasto per cápita
26110  2008                    Otros productos en peso  Gasto per cápita
26111  2008                 Otros productos en volumen  Gasto per cápita
26152  2009                                     Huevos  Gasto per cápita
26153  2009                                       Miel  Gasto per cápita
26154  2009                                      Carne  Gasto per cápita
26155  2009                        Pescados y mariscos  Gasto per cápita
26156  2009                              Leche líquida  Gasto per cápita
26157  2009                               Otras leches  Gasto per cápita
26158  2009                          Derivados lacteos  Gasto per cápita
26159  2009                                        Pan  Gasto per cápita
26160  2009  Bolleria, pastelería, galletas y cereales  Gasto per cápita
26161  2009                        Productos navideños  Gasto per cápita
26162  2009                                 Chocolates  Gasto per cápita
26163  2009                                      Arroz  Gasto per cápita
26164  2009                                     Pastas  Gasto per cápita
26165  2009                                     Azucar  Gasto per cápita
26166  2009                                Edulcorante  Gasto per cápita
26167  2009                                  Legumbres  Gasto per cápita
26168  2009                                    Aceites  Gasto per cápita
26169  2009                                 Margarinas  Gasto per cápita
26170  2009                                  Aceitunas  Gasto per cápita
26171  2009                                      Vinos  Gasto per cápita
26172  2009                                   Cervezas  Gasto per cápita
26173  2009                                   Vinagres  Gasto per cápita
26174  2009                                    Patatas  Gasto per cápita
26175  2009                         Hortalizas frescas  Gasto per cápita
26176  2009                             Frutas frescas  Gasto per cápita
26177  2009                               Frutos secos  Gasto per cápita
26178  2009          Frutas y hortalizas transformadas  Gasto per cápita
26179  2009                          Platos preparados  Gasto per cápita
26180  2009                         Cafes e infusiones  Gasto per cápita
26181  2009                                     Caldos  Gasto per cápita
26182  2009                                     Salsas  Gasto per cápita
26183  2009                            Aguas envasadas  Gasto per cápita
26184  2009            Gaseosas y bebidas refrescantes  Gasto per cápita
26185  2009                                      Masas  Gasto per cápita
26186  2009                          Harinas y semolas  Gasto per cápita
26187  2009                                 Encurtidos  Gasto per cápita
26188  2009                                   Especias  Gasto per cápita
26189  2009                                        Sal  Gasto per cápita
26190  2009                    Otros productos en peso  Gasto per cápita
26191  2009                 Otros productos en volumen  Gasto per cápita
26232  2010                                     Huevos  Gasto per cápita
26233  2010                                       Miel  Gasto per cápita
26234  2010                                      Carne  Gasto per cápita
26235  2010                        Pescados y mariscos  Gasto per cápita
26236  2010                              Leche líquida  Gasto per cápita
26237  2010                               Otras leches  Gasto per cápita
26238  2010                          Derivados lacteos  Gasto per cápita
26239  2010                                        Pan  Gasto per cápita
26240  2010  Bolleria, pastelería, galletas y cereales  Gasto per cápita
26241  2010                        Productos navideños  Gasto per cápita
26242  2010                                 Chocolates  Gasto per cápita
26243  2010                                      Arroz  Gasto per cápita
26244  2010                                     Pastas  Gasto per cápita
26245  2010                                     Azucar  Gasto per cápita
26246  2010                                Edulcorante  Gasto per cápita
26247  2010                                  Legumbres  Gasto per cápita
26248  2010                                    Aceites  Gasto per cápita
26249  2010                                 Margarinas  Gasto per cápita
26250  2010                                  Aceitunas  Gasto per cápita
26251  2010                                      Vinos  Gasto per cápita
26252  2010                                   Cervezas  Gasto per cápita
26253  2010                                   Vinagres  Gasto per cápita
26254  2010                                    Patatas  Gasto per cápita
26255  2010                         Hortalizas frescas  Gasto per cápita
26256  2010                             Frutas frescas  Gasto per cápita
26257  2010                               Frutos secos  Gasto per cápita
26258  2010          Frutas y hortalizas transformadas  Gasto per cápita
26259  2010                          Platos preparados  Gasto per cápita
26260  2010                         Cafes e infusiones  Gasto per cápita
26261  2010                                     Caldos  Gasto per cápita
26262  2010                                     Salsas  Gasto per cápita
26263  2010                            Aguas envasadas  Gasto per cápita
26264  2010            Gaseosas y bebidas refrescantes  Gasto per cápita
26265  2010                                      Masas  Gasto per cápita
26266  2010                          Harinas y semolas  Gasto per cápita
26267  2010                                 Encurtidos  Gasto per cápita
26268  2010                                   Especias  Gasto per cápita
26269  2010                                        Sal  Gasto per cápita
26270  2010                    Otros productos en peso  Gasto per cápita
26271  2010                 Otros productos en volumen  Gasto per cápita
26312  2011                                     Huevos  Gasto per cápita
26313  2011                                       Miel  Gasto per cápita
26314  2011                                      Carne  Gasto per cápita
26315  2011                        Pescados y mariscos  Gasto per cápita